{% extends "index.html" %}

{% block title %} Login {% endblock %}

{% block login %}
<div class="main-content">
    <form action="/home" method="post" class="main-form">
        <h2>Login</h2>
        <hr>
        <!-- TODO: validations -->
        <input autofocus name="email" placeholder="Username or Email" type="email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit"> LOGIN </button>
        <hr>
        <p>Not registered? <a href="/register">Register Here</a></p>
    </form>
</div>
{% endblock %}