{% extends "index.html" %}

{% block title %} Login {% endblock %}

{% block login %}
<div class="main-content">
    <form action="/register" method="post" class="main-form">
        <h2>Register</h2>
        <hr>
        {{ form.hidden_tag() }}
        <div class="registration-name">
            {{ form.first_name(placeholder="First Name") }}
            {{ form.last_name(placeholder="Last Name") }}
        </div>
        {{ form.email(placeholder="Email") }}
        {{ form.password(placeholder="Password") }}
        {{ form.submit(class="submit-btn") }}
        <hr>
        {% for message in get_flashed_messages() %}
        {{message}}
        {% endfor %}
    </form>
</div>
{% endblock %}