{% extends "index.html" %}

{% block title %} Login {% endblock %}

{% block login %}
<div class="main-content">
    <form action="/" method="post" class="main-form">
        <h2>Register</h2>
        <hr>
        <div class="registration-name">
            <input autocomplete="off" autofocus name="fname" placeholder="First Name" type="text" required>
            <input autocomplete="off" autofocus name="lname" placeholder="Last Name" type="text" required>
        </div>
        <input autocomplete="off" name="email" placeholder="Email" type="email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit"> REGISTER </button>
        <hr>
    </form>
</div>
{% endblock %}